@font-face {
	font-family: azedo;
	src: url(Azedo-Light.otf);
}
@font-face {	
	font-family:azedobold;
	src: url(Azedo-Bold.otf);
}
@font-face {
	font-family: origin_light;
	src: url(Origin-Light.ttf);
}
@font-face {
	font-family: origin_bold;
	src: url(Origin-Bold.ttf);
}
@font-face {
	font-family: origin_extrabold;
	src: url(Origin-ExtraBold.ttf);
}
@font-face {
	font-family: codebold;
	src: url(CODE_Bold.otf);
}
@font-face {
	font-family: codelight;
	src: url(CODE_Light.otf);
}
@font-face {
	font-family: avenir;
	src: url(Avenir.ttc);
}


.quote{
	position: relative;
}

.large {
	font-size: 17px;
	text-align: center;
	font-weight: bold;
}

/*.abouttitle{
	font-size: 45px;
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}*/

.test {
	padding: 40px;
	max-width: 800px;
}

.col-xs-2{
	font-size: 20px;
	font-weight: bold;
}

.italic{
	font-style: italic;
/*	text-decoration: underline;*/
	color:#bbb;
}

.chopstick{
	margin-top: 90px;
	width: 800px;
}

.carousel {
	margin-top:50px;
}

.mainquote {
	font-family: codelight;
	font-size:62px;
	color:#fff;
	position:absolute;
	top:50%;
	left:0px;
	text-align: center;
	width:100%;
	margin-top:-65px;
	letter-spacing: 35px;
}

.contact{
	font-size:15px;
	font-family: codelight;
	color: #fff;
	position: absolute;
	top: 50%;
	text-align:center;
	width: 100%;
	margin-top: 40px;
	letter-spacing: 2px;
	line-height: 25px;

}

.navbar-brand{
	font-family: codelight;
	font-size: 23px;
}

/*body{
	background-image: url(../images/background.png);
	background-size: 100px;
}
*/
.dinnerfortwo {
	position: relative;
	max-width:800px;
	margin-top: 60px;
	margin-bottom: 35px;

/*	background-image: url(../images/blank.png);
	background-size: cover;*/
	/*border-color: rgba(242,227,214,0.3);*/
	/*background-color: rgba(255,255,255,0.3);*/
}
.dinnerfortwo > img {
	width:100%;
	position: absolute;
	top:0px;
}
.dinnerfortwo .row {
	/*margin-bottom: 20px;*/
	padding:20px 25px;
	color: black;
}
.dinnerfortwo h3 {
	margin-top: 0px;
	font-size: 20px !important;
	font-family: avenir
}
.dinnerfortwo p {
	font-style: italic;
}
.dinnerfortwo .price {
	text-align: right;
	font-size: 15px;
}

.surcharge{
	text-align: center;
	font-style: italic;
	color: white;
	font-size: 12px;
	margin-top: 25px;
}

.fixedimage{
	background-image: url(../images/fixed.gif);
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: 0px -420px;
	background-attachment: fixed;
}

.wakame{
	background-image: url(../images/wakame.jpg);
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: 0px -330px;
	background-attachment: fixed;
}

.sushidine{
	background-image: url(../images/sushiroll.jpg);
	width: 100%;
	height: 400px;
	background-size: 115%;
	background-position: -170px -200px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.menutitle{
	font-size: 35px;
	font-family: origin_light;
	margin-bottom: 30px;
	margin-top: 0px;
	text-align: center;
}

.sushivideo-container{
	width: 100%;
	height: 700px;
	overflow: hidden;
	position: relative;
	margin-top: 50px;
}

.sushivideo-container video{
	width:100%;
	position:relative;
	top: -35px;
}

.reviewtext{
	width: 100%;
	height: 700px;
	position: absolute;
	top: 0px;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
}

.reviewtext h1{
	margin:0;
	position: relative;
	top: 50%;
	margin-top: -180px;
	font-family: codelight;
	letter-spacing: 3px;
	font-size: 49px;
}

.awards{
	font-size: 25px;
}



