@font-face {
	font-family: azedo;
	src: url(Azedo-Light.otf);
}
@font-face {	
	font-family:azedobold;
	src: url(Azedo-Bold.otf);
}
@font-face {
	font-family: origin_light;
	src: url(Origin-Light.ttf);
}
@font-face {
	font-family: origin_bold;
	src: url(Origin-Bold.ttf);
}
@font-face {
	font-family: origin_extrabold;
	src: url(Origin-ExtraBold.ttf);
}
@font-face {
	font-family: codebold;
	src: url(CODE_Bold.otf);
}
@font-face {
	font-family: codelight;
	src: url(CODE_Light.otf);
}
@font-face {
	font-family: avenir;
	src: url(Avenir.ttc);
}


.quote{
	position: relative;
}

.large{
	font-size: 17px;
	text-align: center;
	font-weight: bold;
}

/*.abouttitle{
	font-size: 45px;
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}*/

.test {
	padding: 30px 250px;
}

.col-xs-2{
	font-size: 20px;
	font-weight: bold;
}

.italic{
	font-style: italic;
/*	text-decoration: underline;*/
	color:#bbb;
}

.chopstick{
	margin-top: 90px;
	width: 800px;
}

.carousel {
	margin-top:50px;
}

.mainquote {
	font-family: codelight;
	font-size:65px;
	color:#fff;
	position:absolute;
	top:50%;
	left:0px;
	text-align: center;
	width:100%;
	margin-top:-57px;
	letter-spacing: 30px;
}

.navbar-brand{
	font-family: codelight;
	font-size: 27px;
}


